<p><%= link_to image_tag(@user.picture), gcales_path, :class => "profileimg" %></p>
<% @graphs.each_with_index do |graph, i| %>
<%= link_to high_chart(graph.options[:subtitle], graph) ,gcales_show_month_project_path(graph: graph.options[:title][:text]) %>
<% end %>
