
<% temp_id ="empty"%>
<% @graphs.each_with_index do |graph, i| %>
<% unless temp_id == graph.options[:user][:id] %>
<p><%= image_tag(graph.options[:user][:picture]) %></p>
<p><%= graph.options[:user][:name] %></p>
<% end %>

<% temp_id = graph.options[:user][:id] %>

<%= link_to high_chart(graph.options[:subtitle], graph) ,gcales_show_month_project_path(graph: graph.options[:title][:text]) %>
<% end %>
