/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
   margin:0;
   padding:0;
   width: 100%;
   background-image: url("haikei.png");

}

#bs-example-navbar-collapse-1 {
  position: relative;
  overflow: hidden;
}

#bs-example-navbar-collapse-1 ul {
  position: relative;
  left: 50%; /* リスト全体であるul要素を右に50%移動。つまり先頭を中央に持ってくる感じです。 */
  float: left;
}

#bs-example-navbar-collapse-1 ul li {
  position: relative;
  left: -50%; /* 各リスト項目になるli要素を左に50%移動。 */
  float: left;
  list-style: none; /* 項目にぼっちを出したくない場合はこれを設定（今回はあんまり関係ないですが） */
}
.head {
  padding: 0;
}

.icon{
  list-style: none;
  padding: 10px 0 0 0;
  float :left;
  width: 100%;
}

.navbar-inverse {
    border: 0;
    padding: 5px 25px;
}
.navbar {
    color: white;
    margin-bottom: 10px;
}
.navbar-inverse {
  .navbar-brand {
    color: #ccc;
    &:hover {
      color: white;
    }
  }
  .navbar-nav > li > a {
    color: #ccc;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}
@media (max-width: 767px) {
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-inverse .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}


header ul:after {
  content: "";
  display: block;
  clear: both;
}

html {
  margin:0;
  padding:0;
  width: 100%;
  position: relative;
  min-height: 100%;
}

body {
  margin:0;
  padding:0;
  width: 100%;
  text-align: center;
  /*background-image: url(background018_l.jpg);*/
  background-position:center top;
  background-repeat:no-repeat;
  -moz-background-size:cover;
  background-size:cover;
}

input , select {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
}
