/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

header {
   margin:0;
   padding:0;
   width: 100%;
}


.icon{
  list-style: none;
  padding: 15px 0 0 0;
  float :left;
  width: 100%;
  margin: 0 0 0 -1.4em;
}

.nav-justified {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.navbar .nav-justified > li {
    display: table-cell;
    width: 100%;
}

.navbar-default {
    border: 0;
    padding: 5px 25px;
}
.navbar {
    background-color: transparent;
    color: white;
    margin-bottom: 0px;
}
.navbar-default {
  .navbar-brand {
    color: #ccc;
    &:hover {
      color: white;
    }
  }
  .navbar-nav > li > a {
    color: #ccc;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

html {
  margin:0;
  padding:0;
  width: 100%;
  position: relative;
  min-height: 100%;
}

body {
  margin:0;
  padding:0;
  width: 100%;
  text-align: center;
}
