table.table th{
  color: #153d73;
  border-left: 3px solid #369;
}

.table tr:nth-child(1) td {
  background-color :#c0c0c0;
}

td {
text-align: left;
vertical-align: top;
}

.container #users{
  text-align: left;
}

.profile {
  float: left;
  margin: 10px 30px 5px 0;
}

.table-responsive {
clear: left;
}

img.profileimg {
  zoom: 2.0;
}

.tagbtn {
  float: left;
}

.well{
  margin-top: 10px;
}

.tag-field{
  padding-bottom: 5px;
}

.btnschedule {
  display: inline;
}

.tagnm .tagdc {
  background-color: white;
}

.search1 {
  margin: 20px 30px;
  padding: 10px 10px 15px 10px;
  border: medium double #F15D30;
  background-color: #FCBBA9;
}

.search2 {
  margin: 20px 30px;
  padding: 10px 10px 15px 10px;
  border: medium double #F15D30;
  background-color: #FCBBA9;
}
